<div class="container about-me-container my-5">
    <div class="row">
        <!-- Profile Image -->
        <div class="col-12 col-md-4">
            <img src="images/Profile.jpg" alt="Dikshant Thukral" class="img-fluid rounded-circle">
        </div>

        <!-- About Me Information -->
        <div class="col-12 col-md-8 bg-light p-4">
            <h1>Dikshant Thukral</h1>
            <p>Software Developer</p>
            <p>
                My name is Dikshant Thukral, currently in my fourth semester of CMPA at Georgian College. I have a keen interest in mobile development using JAVA. Talking briefly about my experience - I had completed my first Co-op under HBEC as E-CO-OP. Moreover, I will be pursuing my next Co-OP in GCSA in the upcoming winter.
            </p>
            <p>
                My hobbies are to play PlayStation in my ample time. I do like to play sports; I was the national player in fencing back in India.
            </p>
            <p>
                Being a student leader in Georgian College Student Association, I am learning a lot of cool stuff, which includes building up confidence, event planning, team member, and many more qualities in me.
            </p>
            <ul>
                <li><strong>Email:</strong> <a href="mailto:your.email@example.com" class="text-primary">Dikshantthukral12@gmail.com</a></li>
                <li><strong>Phone:</strong> (647)862-5680</li>
                
                <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/dikshant-thukral-631b67241/" target="_blank" class="text-info">LinkedIn Profile</a></li>
                <li><strong>GitHub:</strong> <a href="https://github.com/dikshant-12" target="_blank" class="text-dark">GitHub Profile</a></li>
            </ul>
        </div>
    </div>
</div>
