<div class="mt-5" style="text-align: center;">
    <img src="images/Bit.jpg" class="img-fluid" style="vertical-align: middle;">
</div>

<div class="text-center display-3 font-weight-bold">
  DIKSHANT THUKRAL
</div>

<div class="text-center display-7 font-weight-bold">
  Ambitious Java Developer
</div>
<div class="text-center display-7 font-weight-bold">
  VP Administration (GCSA)
</div>

